{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "rules": {
    "react/jsx-filename-extension": [
      "error",
      {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    ],
    "import/no-extraneous-dependencies": ["error", {"devDependencies": true}],
    "import/no-named-as-default": false
  },
  "env": {
    "jest": true
  }
}
